[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container {
  height: inherit;
  width: inherit;
}

.time-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: inherit;
}

.spacer {
  flex-grow: 1;
}

.line {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: Helvetica, Aria, sans-serif;
}

timer {
  font-size: 2rem;
}

.top-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 12px;
  margin-left: 12px;
  height: initial;
}

.fake-profile {
  height: 40px;
  width: 40px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.name {
  color: #3b5998;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.fbtimeposted {
  color: #9197a3;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
}